html {
  font: 16px;
  padding: .5in;
  padding-top: 1in; }
  html body {
    background: #999; }
    html body p {
      font-family: 'Handlee',cursive; }
  html .container {
    background: #fff; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Handlee' !important; }

.header-title {
  font-family: 'Handlee';
  font-weight: bold;
  letter-spacing: -0.5px;
  padding-bottom: 1em;
  text-align: center;
  text-transform: uppercase; }

address {
  padding-top: 20px; }
  address h2 {
    font: bold 100% 'Handlee'; }

.app {
  padding: .5in; }

.flex {
  flex: 1; }

.right-block {
  float: right; }

.left-block {
  float: left; }

.center-block {
  margin: 0 auto; }

.full-width {
  width: 100%; }

address .input-container {
  margin-top: 10px !important; }
  address .input-container .input-with-icon {
    padding: 5px 0 0; }

.client-info {
  padding-top: 20px; }

.user-logo {
  max-height: 200px;
  position: relative; }
  .user-logo img {
    max-height: 200px; }
  .user-logo input {
    cursor: pointer;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    height: 100%;
    left: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    position: absolute;
    top: 0;
    width: 100%; }

.add-btn {
  margin: 10px; }
  .add-btn:focus {
    outline: none; }

*[contenteditable]:hover, *[contenteditable]:focus, td:hover *[contenteditable], td:focus *[contenteditable], img.hover {
  background: #def;
  -webkit-box-shadow: 0 0 1em 0.5em #def;
  box-shadow: 0 0 1em 0.5em #def; }
